<!-- FOOTER  -->
<div class="container">
	<hr>
	<div id="footer_wrap" class="outer">
		<footer class="inner">
	    	<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
	    	<p><a href="http://www.flickr.com/photos/kulimpapat147/6805336543/">top image by kulimpapat147 on flickr</a></p>
	  	</footer>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>